.container{
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(rgb(51, 100, 100) 20%, rgba(153, 204, 255, 0.9) 96%);
}
.banner{
    height: 200px;
    background-image: linear-gradient(rgba(153, 204, 255, 0.9) 4%, rgba(51, 102, 102, 0.8) 90%);
    box-shadow: 0px 10px 50px -10px rgba(51, 102, 102, 0.8);
}
.title{
    font-weight: bolder;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 2%;
    color: rgb(29, 71, 54);
    text-shadow: 3px 3px hsla(156, 42%, 20%, 0.6);
}
.subtitle{
    color: antiquewhite;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.content{
    margin-top: 100px;
}
.page{
    border: black 5px solid;
    border-radius: 30px;
    padding: 20px;
    margin: 10px 0;
}
.add-button{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    opacity: 0.7;
}
.add-button:hover{
    cursor: pointer;
    opacity: 1;
}
.menu{
    min-height: 200px;
    border: black 2px solid;
    border-radius: 10px;
    margin-top: 100px;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}
.menuLink{
    text-decoration: none;
    color: sandybrown;
}
.footer{
    text-align: center;
    border-top: 1px black solid;
    position: absolute;
    bottom: 0;
    width: 100%; 
}
.form-styles{
    background-color: #99ccff;
    width: 70%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    border: solid 2px #336666;
}
.input, .inputColor{
    border: 2px solid #003d00;
    border-radius: 10px;
    margin: 5px 0;
    padding: 3px;
    outline:none;
}
.input:focus, .inputColor:focus{
    border: 2px solid #663333;
    border-radius: 10px;
    margin: 5px 0;
    padding: 3px;
}
.displayColor{
    margin-top: 10px;
    border-radius: 40px;
    width: 100px;
    height: 20px;
    text-align: center;
}
.workingButtons{
    position:absolute;
    bottom:0;
    right:0;
}